@font-face {
  font-family: 'Klavica-Bold';
  src: url('KlavikaBold.otf');
}

/* @font-face {
  font-family: 'Klavica';
  src: url('KlavikaRegular.otf');
} */

body{
	margin-top:90px;
}

.navbar{
	background-color:#4267b2;
	color:white;
	position: absolute;
	left:0px;
	top:0px;
	width: 100%;
	font-family: 'Klavica-Bold';
	/* font-weight: 700; */
	padding-left: 15px;
}

.logo{
	font-size: 30px;
}