
@font-face {
	font-family: 'Klavica-Bold';
	src: url('KlavikaBold.otf');
}

@font-face {
	font-family: 'Klavica';
	src: url('KlavikaRegular.otf');
}

body{
	margin-top:90px;
}

.navbar{
	background-color:#3b5998;
	color:white;
	position: absolute;
	left:0px;
	top:0px;
	width: 100%;
	font-family: 'Klavica-Bold';
	padding-left: 15px;
	display:flex;
}

.logo{
	font-size:30px;
	display:inline-block;
	flex:1;
}

li{
	display:inline;
	flex:1;
}

a{
	text-decoration: none;
}

.navlinks{
	display:inline-block;
	position: relative;
	right:0px;
	flex:1;
	display: flex;
	text-align: center;
}

.navlink{
	color: white;
}

.post{
	border: 2px solid #3b5998;
}

.postimg{
	/* length:60px; */
	width:60px;
}
















/* 

create table userlog(id serial, name varchar(20), username varchar(20), password varchar(20), crt_at bigint);
create table postlog(id serial, userid int, text varchar(5000), crt_at bigint);

insert into userlog (name, username, password) values ('me', 'root', 'password'); 

while($current = mysqli_fetch_assoc($result)){
	echo $current['id'];
}

		$result = mysqli_query($connection, 'select * from userlog');
		while($current = mysqli_fetch_assoc($result)){
			echo $current['username'];
			echo '<br>';
		}

/* mysql://bde82497d2b3f6:a2ada8ae@us-cdbr-iron-east-02.cleardb.net/heroku_7a120ebf6cf312b?reconnect=true */























