

@media only screen and (max-width: 768px){
	
	/* .navbar{
		background-color:green;
		margin:0px;
	}

	.logo{
		font-size:12px;
	}
	
	.navlinks{
		margin:0px;
		padding:0px;
		position:relative;
		border: 1px solid white;
	}
	
	.navlink{
		height:25px;
		border: 1px solid white;
	}
	
	.no-decoration{
		text-decoration:none;
		color:white;
	} */
	
	.navbar{
		background-color:green;
	}
	
	.search-user-li{
		/* position: relative; */
	}

	.search-user-form{
		position:absolute;
		top:50%;
		transform: translateY(-50%);
		width: 100%;
	}
	
	.search-user-button {
		width: 27px;
		height: 27px;
		border-radius: 50%;
		border: none;
		
		/* position:relative; */
		/* float:right; */
	}
	
	.search-user-bar{
		width: 65%;
		height: 25px;
		border: none;
		border-radius: 14px;
		
		/* position:relative; */
		/* float:right; */
	}
	
	.blue-box{
		width: 60%;
		top: 60px;
		
		border-radius: 15px;
		padding: 10px 35px 30px 35px;
	}
	
	.form-input {
		height: 10px;
		margin: 0px 0px 0px -5px;
	}
	
	.post-form-input{
	
		height: 50px;
		
		padding: 10px 0px 10px 10px;
		margin: 0px 0px 0px -5px;
		border-radius: 10px;
		
		overflow:hidden;
		resize:none;
	}

}



@media only screen and (max-width: 667px){
	
	.navbar{
		background-color:red;
		margin:0px;
	}

	.navlinks{
		/* font-size: 13px; */
		margin:0px;
		padding:0px;
		flex-direction: column;
	}
	
	.search-user-li{
		position: relative;
	}

	.search-user-form{
		position:relative;
		top:50%;
		transform: translateY(-50%);
		width: 100%;
	}

	.search-user-bar{
		width: 70%;
		height: 22px;
		border-radius: 14px;
		padding-left: 10px;
	}

	.search-user-button{
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background-color: white;
	}

	.logo{
		margin-right:5px;
	}
	
	.post-form{
		position:relative;
	}

	.post-form-input{
		
		/* width: 100%; */
		height: 50px;
		
		padding: 10px 0px 10px 10px;
		margin: 0px 0px 0px -5px;
		border-radius: 10px;
		
		overflow:hidden;
		resize:none;
		
		position: relative;
	}

}