
body{
	margin: 0;
	padding: 0;
	position: relative;
	font-family: 'Klavica';
}

.navbar{
	background-color:#3b5998;
	color:white;
	width: 100%;
}

.navlinks{
	display:flex;
	align-items: center;
	text-align:center;
	position: relative;
	margin: 0;
	font-size: 16px;
}

.navlink{
	flex:4;
	text-decoration: none;
	list-style-type: none;
	color: white;
	/* border: solid 1px white; */
}

.logo{
	font-family: 'Klavica-Bold';
	flex:4;
	text-align:left;
}

.search-user-li{
	flex:12;
}

.search-user-form{
	position:relative;
	top:15px;
	transform: translateY(-50%);
}

.search-user-bar{
	width: 50%;
    height: 28px;
    border: none;
    border-radius: 14px;
	padding-left: 10px;
}

.search-user-button{
	width: 30px;
    height: 30px;
    border-radius: 50%;
	border: none;
	background-color: white;
}

.search-user-button:hover{
	border: 2px solid white;
	background-color: #3b5998;
	color: white;
}

@font-face {
	font-family: 'Klavica-Bold';
	src: url('KlavikaBold.otf');
}

@font-face {
	font-family: 'Klavica';
	src: url('KlavikaRegular.otf');
}


.blue-box{
	
	background-color: #3b5998;
	width: 30%;
	
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	
	top: 60px;
	
	color: white;
	border-radius: 15px;
	padding: 10px 35px 30px 35px;
	
/* 	background-color: #3b5998;
	width: 50%;
    height: 50%;
	position: relative;
	
	left: 50%;
	transform: translateX(-50%);
	
	color: white;
	border-radius: 15px; */
}

.form{
	/* position: relative;
	font-family: 'Klavica-Bold';
	
	margin: 0px;
	width: 250px;
	
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	text-align: center; */
}

.form-input{
	
	width: 100%;
	border-radius: 30px;
	padding: 10px 0px 10px 10px;
    margin: 0px 0px 0px -5px;
	border: none;
	
	/*
	width: 100%;
	height: 20px;
	border: none;
		
	border-radius: 30px;
	padding: 10px;*/
}

.form-button{
	width: 100%;
	background-color: #3d5fa6;
	
	height: 30px;
	
	border-radius: 30px;
	border: solid 2px white;
}

.form-button:hover{
	background-color: white;
}

.form-link{
	text-decoration: none;
	color: white;
}

.form-link:hover{
	color: purple;
}



.post-form{
	width: 500px;
}

.post-form-input{
	overflow:hidden;
	resize:none;
	height: 20%;
    width: 80%;
}

.post-form-button{
	width: 40%;
}

.post-blue-box{
	height: 50% auto;
}

#chat-list{
	display:none;
	position: absolute;
	background-color: #3b5998;
}

#chat-hover:hover{
	background-color: white;
}

#chat-hover:hover > p{
	color: black;
	font-family: 'Klavica-Bold';
}

.dropdown{
	list-style-type: none;
	padding: 20px;
}

.post{
	margin:1px;
}

#chat-box{
	position: fixed;
	left: 0;
	bottom: 0;
	border: 1px gray solid;
	border-top:none;
	border-left:none;
	border-down:none;
	border-radius: 0px 15px 0px 0px;
}

#chat{
	overflow-y: scroll;
	/* overflow-X: none; */
	width: 100%;
	height: 300px;
}

.chat-window{
	border: 1px gray solid;
	
	min-height:25px;
    min-width: 100px;
	
	position: relative;
	height: auto;
	background-color: white;
	border-radius: 0px 13px 0px 0px;
	
	border-bottom: none;
	border-right: none;
	border-left:none;
}

.chat-window-open{
	width: 225px;
}

#chat-text{
	resize: none;
    width: 220px;
}

.chat-window-item{
	display:inline;
}

.chat-window-button{
	
	background-color: #3b5998;
	color: white;
	
	display:inline-block;
	float: right;
	
	height: 25px;
    width: 25px;
	
	border-radius: 50%;
    border: none;
}

.chat-window-button:hover{
	background-color: #E9EBEE;
	color: black;
}

.bubble-left{
	position: relative;
	right: -15px;
	width: 70%;
	padding: 0px 0px 0px 5px;
	background: #E9EBEE;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.bubble-left:after{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0px 15px 15px 0;
	border-color: transparent #E9EBEE;
	display: block;
	width: 0;
	z-index: 1;
	left: -10px;
	top: 50%;
    transform: translateY(-50%);
}

.bubble-right{
	position: relative;
	right: -22%;
    width: 70%;
	padding: 0px 0px 0px 5px;
	background: #3b5998;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: white;
	clear: both;
}

.bubble-right:after{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0px 0 15px 15px;
	border-color: transparent #3b5998;
	display: block;
	width: 0;
	z-index: 1;
	right: -10px;
	top: 50%;
    transform: translateY(-50%);
}


@media only screen and (max-width: 667px){
	
.navbar{
	background-color:red;
	padding-left: 10px;
}

.navlinks{
	font-size: 13px;
}



/* .logo{
	font-family: 'Klavica-Bold';
	flex:4;
	text-align:left;
} */

}



























/* mysql://bde82497d2b3f6:a2ada8ae@us-cdbr-iron-east-02.cleardb.net/heroku_7a120ebf6cf312b?reconnect=true */























